<nav class="navbar">
  <details class="navbar-sidebar navbar-details navbar-top-details">
    <summary id="navbar-main-menu-title" class="navbar-details-title">Menu</summary>
    <div class="navbar-details-content">
      <ul aria-labelledby="navbar-main-menu-title">
        <li><a href="#" class="text-decoration-none">Main link 1</a></li>
        <li><a href="#" class="text-decoration-none">Main link 2</a></li>
        <li>
          <details class="navbar-details">
            <summary id="navbar-subsection-title" class="navbar-details-title">Subsection</summary>
            <div class="navbar-details-content">
              <ul aria-labelledby="navbar-subsection-title">
                <li><a href="#" class="text-decoration-none">Item 1</a></li>
                <li><a href="#" class="text-decoration-none">Item 2</a></li>
                <li><a href="#" class="text-decoration-none">Item 3</a></li>
                <li><a href="#" class="text-decoration-none">Longer title length item 1</a></li>
                <li><a href="#" class="text-decoration-none">Longer title length item 2</a></li>
                <li><a href="#" class="text-decoration-none">Longer title length item 3</a></li>
                <li><a href="#" class="text-decoration-none">Longer title length item 4</a></li>
                <li><a href="#" class="text-decoration-none">Longer title length item 5</a></li>
              </ul>
            </div>
          </details>
        </li>
        <li><a href="#" class="text-decoration-none">Main link 3</a></li>
        <li><a href="#" class="text-decoration-none">Main link 4</a></li>
        {% include body-shareicons.html %}
      </ul>
    </div>
  </details>
  <div class="navbar-title"><a href="/" class="text-decoration-none">Site title</a></div>
  <div class="navbar-horiz">
    <ul class="navbar-horiz-list">
      <li><a href="#" class="text-decoration-none">Main link 1</a></li>
      <li><a href="#" class="text-decoration-none">Main link 2</a></li>
      <li>
        <details class="navbar-details navbar-top-details">
          <summary id="navbar-subsection-title" class="navbar-details-title">Projects</summary>
          <div class="navbar-details-content">
            <ul aria-labelledby="navbar-subsection-title">
              <li><a href="#" class="text-decoration-none">Item 1</a></li>
              <li><a href="#" class="text-decoration-none">Item 2</a></li>
              <li><a href="#" class="text-decoration-none">Item 3</a></li>
              <li><a href="#" class="text-decoration-none">Longer title length item 1</a></li>
              <li><a href="#" class="text-decoration-none">Longer title length item 2</a></li>
              <li><a href="#" class="text-decoration-none">Longer title length item 3</a></li>
              <li><a href="#" class="text-decoration-none">Longer title length item 4</a></li>
              <li><a href="#" class="text-decoration-none">Longer title length item 5</a></li>
            </ul>
          </div>
        </details>
      </li>
      <li><a href="#" class="text-decoration-none">Main link 3</a></li>
      <li><a href="#" class="text-decoration-none">Main link 4</a></li>
    </ul>
  </div>
</nav>
